body {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

form {
    display: block;
    margin-left: 20px;
}

input[type=radio] {
    font-size: 3em;
    text-align: left;
    margin: 10px;
    padding: 10px;
    /*display: none;*/
}

input[type=radio]:checked+label {
    background: yellow;
}

label{
    font-size: 1.5em;
}

input[type=submit] {
    padding: 5px;
    background: white;
    border:1px solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: inherit;
}

input[type=submit]:hover{
    background: black;
    color: white;
}

a {
    display: block;
    margin: 25px;
    cursor: pointer;
}

.quiz {
    margin: 20px;
}

.question {
    margin-bottom: 40px;
}

.option {
    display: block;
}

.results {
    text-align: center;
}

.results img {
    display: block;
    margin: auto;
}
